
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Home</h2>
<img src="~/Images/IT12.jpg" width="200" height="200" />
<h1>Welcome to Anthony's Pizza!!!'</h1>
<h7>The best Pizza in Town</h7>
<p>We make the best pizza in town</p>
<p>We are based in Brooklyn , New York </p>
<p>You won't be disppointed!!!'</p>
<img src="~/Images/Pizza 1.jpg" width="300" height="300" />

<h1>YOU LIKE MEATBALLS ????</h1>
<p>Try our new Meabtball Feast Pizza!!!</p>
<img src="~/Images/Meatball 1.jpg" width="300" height="300" />
<h6>Try our new Pepperoni Pizza!</h6>
<img src="~/Images/Piza 2.jpg" width="300" height="300" />
<p>Check out our Menu for more !!!!</p>