
@{
    ViewBag.Title = "menu";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Our Menu!!!</h2>

<h1>Pepperoni  Pizza</h1>

<p>Large=£20.18</p>

<p>Medium=£15.99</p>

<p>Small=10.99</p>

<img src="~/Images/Piza 2.jpg" width="300" height="300" />


<h1>Meatball Pizza</h1>

<p>Large=£20.18</p>

<p>Medium=£15.99</p>

<p>Small=10.99</p>
<img src="~/Images/Meatball 1.jpg" width="300" height="300"/>